{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="brand-logo">Finch Collector App</h1>
    <hr>
    <p class="about">Is there a better place to collect finches while you sit comfortably in your room? </p>
    <p class="about">I DON'T THINK SO, and neither should you >:(  </p>
    <img src="https://thumbs.dreamstime.com/b/hand-drawn-australian-bird-gouldian-finch-hand-drawn-australian-animals-collection-gouldian-finch-vector-image-isolated-white-230758323.jpg" alt="A drawing of a finch">
    
{% endblock %}